{% extends 'main/index.html' %}
{% block content %}
<div class="container">
<br>

  <div class="p-5 mb-4 bg-light rounded-3">
    <h1>Teile erfassen!</h1>
    <hr>
<form  action="/correcting" method="POST, GET">

  <div class="form-group">
    <label>Auftragsnummer:</label>
    <input type="text" class="form-control text-start" id="Auftragsnummer" name="Auftragsnummer" placeholder="Auftragsnummer">
  </div>
  <br>
     <button type="submit" class="btn btn-primary text-center">Auswählen</button>
</form>

</div>

  </div>
{% endblock %}